* {
  box-sizing: border-box;
  overflow: hidden;
}

h1{
  font-size: 50px;
  margin-bottom: 5px;
  color: #042037;
  text-align: center;
 
}
h2{
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  color: #042037;
}


body {
 
  background: linear-gradient(#D2B4F0 ,#C8EF99) no-repeat;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.logo{
  display: block;
  height: 35px;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
}
.logBox{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border-radius: 3px;
}
.signup{
  padding-top: 20px;
}
@media only screen and (max-width:500px){
 .logBox{
  width:240px;

 }
  .inputs{
    width:150px;
  }
}
.inputs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 2px solid #94F5EB;
  padding: 15px;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  background-color: #D2B4F0;
  margin-bottom:5px;

}
.labels{
  display:block;
  padding: 15px;
  margin-left: 45px;
  font-weight: bold;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 55px;
  border: 2px solid #D2B4F0;
  border-radius: 3px;
  background-color: #D2B4F0;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

button:hover{
  background-color: #C8EF99;
  border: 2px solid #C8EF99;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.buttpad{
  padding-top: 20px;
  padding-bottom: 20px;
}
p, a{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
a:hover{
  color: blue;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.log-out{
  cursor: pointer;
}

