body {
  background: linear-gradient(#D2B4F0 ,#C8EF99) no-repeat fixed;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 50px;
  margin-bottom: 5px;
  color: #042037;
}
h2{
  font-size: 20px;
  margin-top: 0px;
  color: #042037;
}

h1, h2 {
  color:#042037;
}
.nav p, .item-p{
  display: inline-block;
}
.item-p{
  padding-right: 20px;
}
.nav, .center-me{
  text-align: center;
}
.center-me{
  text-align: center;
  padding:30px;

}
.split{
  border-bottom: 2px solid #042037;
  text-align: center;
  padding-bottom: 20px;
}
.summary{
  border: 2px solid #042037;
  font-weight: 900;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.move-list-js, .move-form, .bigBox{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.bigBox{
  border: 1px solid #042037;
  max-width: 800px;

}

.unloaded-container.bigBox{
  border-radius: 10px 10px 0 0;
}


.loaded-container.bigBox{
  border-radius: 0 0 10px 10px;
}

.item-container{
  border: 1px solid #042037;
  border-radius: 15px 15px 30px 30px;
  font-size: 20px;
  margin: 20px;
}

.unloaded-wrapper .item-container{
  background-color: #AD82D6;
  color: #042037;
  
}
.loaded-wrapper .item-container{
  background-color: #9FE945;
  color: #042037;

}
.move-form{
  padding: 40px;
}

.move-list-item, .item-controls{
  display: inline-block;
}
h1,h2{
  text-align: center;
}
.move-form{
  text-align: center;
}
.unloaded-container{
  background-color: #D7BEF0;
}
.loaded-container{
  background-color: #E2FBC3;
}

.nav-button{
  height:50px;
  width: 80px;
  background-color: #8F28F3;
  color: #F3F9FE;
  border: none;
  font-weight: 900;
  font-size:12px;
}
.nav-button:hover{
  background-color: rgb(178, 104, 251) !important;
  
}
.current{
  background-color: #F3F9FE !important;
  color:#8F28F3 !important;
}
a {
  text-decoration: none !important;
  color:#F3F9FE !important;
}
.current a{
  color:#8F28F3 !important;
}


input.name-js, input.value-js, input.location-js{
  height:30px;
}

.item-p, .item-controls{
  padding-left: 15px;
  padding-right: 15px;
}

div.move-list-item{
  width: 100%;
}
.item-p{
  width: 90px;;
}
.item-controls{
  float: right;
  margin-top:15px;
}


input{
  text-align: center;
}
.value-js, .name-js, .location-js{
  width: 150px; 
}
/* BUTTONS*/


.add-item-js{
  height:36px;
  width: 154px;
  background-color: rgb(37, 197, 45);
  color: #F3F9FE;
  border: none;
  font-weight: 900;
  font-size:12px;
  
}

.unloaded-container .item-load, .unloaded-container .item-delete{
  background-color: #61239D;
  border: none;
  font-weight: 900;
  color:white;
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  
}
.unloaded-container .item-controls{
  margin-right: 0px;
}
.unloaded-container .item-load:hover, .unloaded-container .item-delete:hover{
  background-color: #D2B4F0;
  color: #61239D;
}

.loaded-container .item-unload, .loaded-container .item-delete{
  background-color: #4D820B;
  border: none;
  font-weight: 900;
  color:white;
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  
}
.loaded-container .item-controls{
  margin-right: 0px;
}
.loaded-container .item-unload:hover, .loaded-container .item-delete:hover{
  background-color: #C8EF99;
  color: #4D820B;
}
.log-out{
  cursor: pointer;
}


.green{
  background-color: rgb(137, 231, 21, .6);
}

.red{
  background-color: rgba(255, 0, 0, 0.6);
}

.add-budget-js{
  height:36px;
  width: 80px;
  background-color: rgb(37, 197, 45);
  color: #F3F9FE;
  border: none;
  font-weight: 900;
  font-size:12px;
  margin-left: -5px;
  
}

.budget-js{
  text-align: center;
  height:30px;
  width: 80px;
}

.question{
  display: block;
  margin-top:5px;
  margin-bottom:5px;
}


@media only screen and (max-width:520px ){
  .summary{
    width: 300px;
  }
}